@use 'base/reset';
@use 'base/variables';
@use 'base/mixins';
@use 'base/fonts';
@use 'base/breakpoints';

@use 'layout/navbar';
@use 'layout/hero';
@use 'layout/catalogo';
@use 'layout/checkout';
@use 'layout/footer';

@use 'sections/contacto';
@use 'sections/instagram';
@use 'sections/terminos';

@use 'components/producto-card';
@use 'components/botones';
@use 'components/filtros';

@use 'pages/home';