@use '../base/variables';
@use '../base/mixins' as m;

body {
  font-family: variables.$fuente-principal;
  background-color: variables.$color-bg;
  color: variables.$color-texto;
  line-height: 1.6;
}