@use '../base/variables';
@use '../base/mixins' as m;

.carrito {
  background-color: #121212;
  color: variables.$color-texto;
  padding: 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  .carrito-items {
    list-style: none;
    margin-bottom: 1rem;
  }

  .carrito-total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .btn-finalizar {
    background-color: variables.$color-acento;
    color: variables.$color-bg;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    @include m.transition;
    &:hover {
      background-color: lighten(variables.$color-acento, 10%);
    }
  }
}