@use '../base/variables';
@use '../base/mixins' as m;

.navbar {
  background-color: variables.$color-bg;
  color: variables.$color-texto;
  padding: variables.$espaciado-base;

  display: flex;
  align-items: center;
  justify-content: space-between;

  // Links (desktop)
  .navbar-nav {
    .nav-link {
      color: variables.$color-texto;
      margin-right: variables.$espaciado-base;
      @include m.transition;

      &:hover {
        color: variables.$color-acento;
      }
    }
  }

  // Responsive
  @include m.tablet {
    .navbar-nav {
      text-align: center;
    }
  }
}
