@use '../base/variables';
@use '../base/mixins' as m;

.navbar {
  background-color: variables.$color-bg;
  color: variables.$color-texto;
  padding: variables.$espaciado-base;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 70px; 

  // --- TÍTULO / LOGO CENTRADO ---
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-weight: bold;
    z-index: 1001; 
    
    @include m.mobile {
      font-size: 1.1rem; 
      text-align: center;
    }
  }

  // --- BOTÓN HAMBURGUESA ---
  .navbar-toggler {
    z-index: 1002; 
    order: 1; 
  }

  // --- CONTENEDOR CARRITO ---
  .carrito-dropdown-container {
    order: 3; 
    z-index: 1002;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    order: 2; 

    .nav-link {
      color: variables.$color-texto;
      margin-right: variables.$espaciado-base;
      @include m.transition;

      &:hover {
        color: variables.$color-acento;
      }
    }

    // LÓGICA MOBILE
    @include m.tablet { 
      position: fixed;
      top: 70px; 
      right: -100%; 
      background-color: variables.$color-bg;
      width: 100%;
      height: calc(100vh - 70px);
      flex-direction: column;
      justify-content: center;
      transition: right 0.4s ease;
      z-index: 999;

      &.is-active {
        right: 0;
      }

      .nav-link {
        margin: 1.5rem 0;
        font-size: 1.5rem;
      }
    }
  }
}