@use '../base/variables';
@use '../base/mixins' as m;

button,
.btn {
  font-family: variables.$fuente-principal;
  font-weight: bold;
  border: none;
  cursor: pointer;
  @include m.transition;
}
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

#overlay.activo {
  opacity: 1;
  pointer-events: all;
}
