@use '../base/variables';
@use '../base/mixins' as m;

button {
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-size: 1rem;

  @include m.mobile {
    font-size: 1.1rem;
    padding: 1rem;
  }
}

button,
.btn {
  font-family: variables.$fuente-principal;
  font-weight: bold;
  border: none;
  cursor: pointer;
  @include m.transition;

  
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px variables.$color-bg;
    filter: brightness(1.1);
  }

  
  &:active {
    transform: scale(0.98);
  }
}
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

#overlay.activo {
  opacity: 1;
  pointer-events: all;
}
