@use '../base/variables';
@use '../base/mixins' as m;

button {
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-size: 1rem;

  @include m.mobile {
    font-size: 1.1rem;
    padding: 1rem;
  }
}

button,
.btn {
  font-family: variables.$fuente-principal;
  font-weight: bold;
  border: none;
  cursor: pointer;
  @include m.transition;
}
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

#overlay.activo {
  opacity: 1;
  pointer-events: all;
}
