.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &.activo {
    display: flex;
  }

  .modal-box {
    background: #020617;
    padding: 1.5rem;
    border-radius: 14px;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }

  .modal-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    button {
      flex: 1;
    }
  }
}
