@use '../base/variables';
@use '../base/mixins' as m;

.productos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2rem 0;

  @include m.desktop { grid-template-columns: repeat(3, 1fr); }
  @include m.tablet  { grid-template-columns: repeat(2, 1fr); }
  @include m.mobile  { grid-template-columns: 1fr; }
}

.producto-card {
  background-color: darken(variables.$color-bg, 5%);
  border-radius: 8px;
  padding: variables.$espaciado-base;
  text-align: center;
  @include m.transition;
  
  // Sombra y estado inicial
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  // El hover se aplica a la misma tarjeta con &
  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.4);
  }

  // Estilo para las imágenes
  img {
    width: 100%;
    height: 200px;      // Forzamos altura para que no se "rompa" el grid
    object-fit: contain; // Mantiene la proporción de tus productos de hardware
    border-radius: 6px;
    margin-bottom: 1rem;
  }

  button {
    background-color: variables.$color-acento;
    color: variables.$color-bg;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    @include m.transition;

    &:hover {
      background-color: lighten(variables.$color-acento, 10%);
    }
  }
}