@use '../base/variables';
@use '../base/mixins' as m;

.productos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  @include m.desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include m.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m.mobile {
    grid-template-columns: 1fr;
  }
}


.producto-card {
  background-color: darken(variables.$color-bg, 5%);
  border-radius: 8px;
  padding: variables.$espaciado-base;
  text-align: center;
  @include m.transition;

  .producto-card {
  box-shadow: 0 0 10px rgba(0, 255, 204, 0.2);
  transform: scale(1);
  @include m.transition;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.4);
  }
}


  img {
    max-width: 100%;
    border-radius: 6px;
  }

  button {
    background-color: variables.$color-acento;
    color: variables.$color-bg;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    @include m.transition;
    &:hover {
      background-color: lighten(variables.$color-acento, 10%);
    }
  }
}

