//==============Responsive============//
/* Evita que el dropdown se salga en móviles */
@media (max-width: 576px) {
  .dropdown-menu {
    position: static !important;
    transform: none !important;
    inset: auto !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

$color-bg: #0f0f0f;
$color-acento: #00ffcc;
$color-texto: #f0f0f0;

$fuente-principal: 'Rajdhani', sans-serif;
$espaciado-base: 1rem;